<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855440391479-sdp0b30ucntprvfnatf1k7r0p9ebvqm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855440391479-sdp0b30ucntprvfnatf1k7r0p9ebvqm8</string>
	<key>API_KEY</key>
	<string>AIzaSyBxVhA1ywuq1NRBTyZsfA2eTuY6sp6kZTU</string>
	<key>GCM_SENDER_ID</key>
	<string>855440391479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gustavocolaco.SellerxAdmin</string>
	<key>PROJECT_ID</key>
	<string>sellerx-fc17c</string>
	<key>STORAGE_BUCKET</key>
	<string>sellerx-fc17c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855440391479:ios:6f5fafde892ab549</string>
	<key>DATABASE_URL</key>
	<string>https://sellerx-fc17c.firebaseio.com</string>
</dict>
</plist>